@import "local.scss";


:root {

	--anchor-color: #444;
	--border-color: #000;
	--element-border-color: #DDF;
	--highlight-color: #FFFDDD;
	--selected-color: #DDF;

	--table-border: solid 1px var(--element-border-color);
	--table-header-background-color: #EFEFFF;
	--table-footer-background-color: white;

	--popup-border: solid 1px #889;
	--element-background-color: #FFFFF8;
	--dropdown-arrow-color: #DDF;
	--sort-arrow-color: #888;
	--required-field-color: #FFF8F8;

	--disabled-text-color: #888;

}// :root;


.testgrid {
	border: solid 1px blue !important;
}

.testgrid div:first-child { width: auto; height: auto }

.testgrid * {
	width: 5rem !important;
	height: 3rem !important;
}

/**** Global Styles ****/


* {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	box-sizing: border-box;
	white-space: nowrap;

	margin: 0;
	padding: 0;
}


/**** Debugging Styles ****/


*.bordered, *.bordered *, *.semi-bordered, *.semi-bordered > *, *.outlined, *.surrounded > div { border: solid 1px red }
*.blue-outlined { border: solid 1px blue }
*.green-outlined { border: solid 1px green }


*.testing > div {
	margin: 1rem;
	padding: 0.5rem 1rem;
}


div.test-grid div { 
	align-items: center;
	width: 200px;
}


/**** Tag Styles ****/


html, body, *.full-page { @extend .full-width, .full-height }


body { font-size: 9pt }


label {
	display: flex;
	align-items: center;
	font-weight: bold;
	margin-right: 0.5rem;
}// label;


hr {
    width: 100%;
    margin: 1rem 0;
    border: none;
    border-top: solid 1px black;
}


textarea {
	text-wrap: auto;
	overflow-y: auto;
	width: 100%;
	height: 20cqw;
}// textarea;


/**** Text Styles ****/


*.bold-text { font-weight: bold }
*.header { font-size: 12pt }
*.disabled { color: var(--disabled-text-color) }
*.unhighlightable, *.unhighlightable * { user-select: none }

*.highlightable { user-select: text }


/**** Link Styles ****/


a { 
	@extend .bold-text;
	color: var(--anchor-color);
	text-decoration: none;
}


a:hover {
	text-decoration: underline;
}


/**** Display Styles ****/


*.container { 
	display: contents;
	width: fit-content;
	height: fit-content;
}// *.container;


*.padded-container { @extend .container }

*.padded-container > div { 
	padding: 0.25rem 0.5rem;
	background-color: white;
}// *.padded-container > div;


*.hidden { display: none !important }


/**** Layout Styles ****/


*.stacked {
	display: grid;
	> * { grid-area: 1 / 1 }
}// stacked;


*.full-width { width: 100% }
*.full-height { height: 100% }


*.with-full-width-children * { width: 100% }
*.with-full-height-children * { height: 100% }


*.shrink-wrapped {
	width: min-content;
	height: min-content;
}// *.shrink-wrapped;


*.full-page {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}


*.full-size {
	flex-grow: 1;
	align-self: stretch;
	overflow: hidden;
}


*.half-width { width: 50% }
*.half-height { height: 50% }

*.half-size { @extend .half-width, .half-height }


*.scrollable { overflow: hidden }

*.row-scrolling { overflow-x: scroll }
*.column-scrolling { overflow-y: scroll }

*.full-scrolling { @extend .row-scrolling, .column-scrolling }


*.column-block {

	display: flex;
	flex-direction: column;

	&.minimal { width: min-content }

	&.slightly-spaced-out { row-gap: 0.25rem }
	&.somewhat-spaced-out { row-gap: 0.5rem }
	&.spaced-out { row-gap: 1rem }
	&.very-spaced-out { row-gap: 2rem }

	&.totally-spaced-out, &.fully-spaced-out { 
		align-content: space-between;
		row-gap: 0.25rem
	}// &.totally-spaced-out, &.fully-spaced-out;

	&.slightly-gapped { row-gap: 0.25rem }
	&.gapped { row-gap: 1rem }

	&[class*="left"][class*="-aligned"] { align-items: flex-start }
	&[class*="right"][class*="-aligned"] { align-items: flex-end }

	&.column-centered { align-items: center }
	&.row-centered { justify-content: center }

	&.top-aligned { align-items: flex-start }

	&[class*="top"][class*="-aligned"] { justify-content: flex-start }
	&[class*="bottom"][class*="-aligned"] { justify-content: flex-end }

	&.fill-width { flex-grow: 1 }
	&.fill-height { align-self: stretch }

	&.fill-size {
		@extend .column-block, .fill-width;
		@extend .column-block, .fill-height;
	}// &.fill-size;

}/* column-block */


*.hidden-column-block {
	@extend .column-block;
	overflow: hidden;
}// *.hidden-column-block;


*.inline-column-block { 
	@extend .column-block;
	display: inline-flex;
}// *.inline-column-block;


*.row-block, *.flex-block {

	display: flex;
	flex-direction: row;

	&.slightly-spaced-out { column-gap: 0.25rem }
	&.somewhat-spaced-out { column-gap: 0.5rem }
	&.spaced-out { column-gap: 1rem }
	&.very-spaced-out { column-gap: 2rem }

	&.totally-spaced-out, &.fully-spaced-out { 
		justify-content: space-between;
		column-gap: 0.25rem
	}// &.totally-spaced-out, &.fully-spaced-out;


	&[class*="left"][class*="-aligned"] { justify-content: flex-start }
	&[class*="right"][class*="-aligned"] { justify-content: flex-end }

	&.column-centered { justify-content: center }
	&.row-centered { align-items: center }

	&[class*="top"][class*="-aligned"] { align-items: flex-start }
	&[class*="bottom"][class*="-aligned"] { align-items: flex-end }

	&.fill-width { align-self: stretch }
	&.fill-height { flex-grow: 1 }

	&.fill-size {
		@extend .row-block, .fill-width;
		@extend .row-block, .fill-height;
	}// &.full-size;

}// row-block;


*.row-block, *.column-block {
	&.backwards { flex-direction: column-reverse }
}// *.row-block, *.column-block;


*.row-block, *.flex-block, *.column-block {
	&.minimal-width { width: min-content }
	&.minimal-height { height: min-content }
}// *.row-block, *.flex-block, *.column-block;


*.inline-row-block { 
	@extend .row-block;
	display: inline-flex;
}// *.inline-column-block;


div.two-row-block {
	display: grid;
	grid-template-rows: repeat(3, minmax(auto, min-content));
}// div.two-row-block;


div.three-row-block {
	display: grid;
	grid-template-rows: repeat(5, minmax(auto, min-content));
}// div.three-row-block;


*.centered, *.fully-centered {
	align-items: center;
	justify-content: center;
}


*.wrappable { white-space: normal }

*.wrapped, *.wrapped * { 
	white-space: normal;
	text-align: justify;
}// *.wrapped, *.wrapped *;


*.padded-cell { padding: 1rem 2rem }





/**** Margin Styles ****/


*.with-a-little-headspace { margin-top: 0.2rem }
*.with-some-headspace { margin-top: 0.5rem }
*.with-headspace { margin-top: 1rem }
*.with-lotsa-headspace { margin-top: 2rem }

*.with-some-legroom { margin-bottom: 0.5rem }
*.with-legroom { margin-bottom: 1rem }
*.with-lotsa-legroom { margin-bottom: 2rem }

*.with-some-left-space { margin-left: 0.5rem }
*.with-left-space { margin-left: 1rem }
*.with-lotsa-left-space { margin-left: 2rem }

*.with-some-right-space { margin-right: 0.5rem }
*.with-right-space { margin-right: 1rem }
*.with-lotsa-right-space { margin-right: 2rem }

*.with-some-row-space { @extend .with-some-left-space, .with-some-right-space }
*.with-row-space { @extend .with-left-space, .with-right-space }
*.with-lotsa-row-space { @extend .with-lotsa-left-space, .with-lotsa-right-space }

*.with-some-room { @extend .with-some-legroom, .with-some-headspace }
*.with-room { @extend .with-legroom, .with-headspace }
*.with-lotsa-room { @extend .with-lotsa-legroom, .with-lotsa-headspace }

*.with-some-space { @extend .with-some-row-space, .with-some-room }
*.with-space { @extend .with-row-space, .with-room }
*.with-lotsa-space { @extend .with-lotsa-row-space, .with-lotsa-room }


/**** Padding Styles ****/


*.with-some-head-padding { padding-top: 0.5rem }
*.with-head-padding { padding-top: 1rem }
*.with-lotsa-head-padding { padding-top: 2rem }

*.with-some-leg-padding { padding-bottom: 0.5rem }
*.with-leg-padding { padding-bottom: 1rem }
*.with-lotsa-leg-padding { padding-bottom: 2rem }

*.with-some-left-padding { padding-left: 0.5rem }
*.with-left-padding { padding-left: 1rem }
*.with-lotsa-left-padding { padding-left: 2rem }

*.with-some-right-padding { padding-right: 0.5rem }
*.with-right-padding { padding-right: 1rem }
*.with-lotsa-right-padding { padding-right: 2rem }

*.with-some-row-padding { @extend .with-some-left-padding, .with-some-right-padding }
*.with-row-padding { @extend .with-left-padding, .with-right-padding }
*.with-lotsa-row-padding { @extend .with-lotsa-left-padding, .with-lotsa-right-padding }

*.with-some-column-padding { @extend .with-some-leg-padding, .with-some-head-padding }
*.with-column-padding { @extend .with-leg-padding, .with-head-padding }
*.with-lotsa-column-padding { @extend .with-lotsa-leg-padding, .with-lotsa-head-padding }

*.somewhat-padded-cell, *.with-some-padding { @extend .with-some-row-padding, .with-some-column-padding }
*.standard-padded-cell, *.with-padding { @extend .with-row-padding, .with-column-padding }
*.lotsa-padded-cell, *.with-lotsa-padding { @extend .with-lotsa-row-padding, .with-lotsa-column-padding }


/**** Positioning Styles ****/


*.relative { position: relative }
*.absolute { position: absolute }


div.full-screen {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 0;
}


/**** Grid and Table Styles ****/


div[class*="two-column"] { grid-template-columns: repeat(2, min-content) }
div[class*="three-column"] { grid-template-columns: repeat(2, min-content) 1fr }
div[class*="four-column"] { grid-template-columns: repeat(3, min-content) 1fr }
div[class*="five-column"] { grid-template-columns: repeat(5, min-content) }
div[class*="six-column"] { grid-template-columns: repeat(6, min-content) }
div[class*="seven-column"] { grid-template-columns: repeat(7, min-content) }


div[class*="column-grid"] {
	display: grid;
	align-items: center;
	justify-content: center;
	column-gap: 0.5rem;
	row-gap: 0.2rem;

	&.left-aligned { justify-content: flex-start }
	&.right-aligned { justify-content: flex-end }

	&.slightly-spaced-out { column-gap: 0.25rem }
	&.somewhat-spaced-out { column-gap: 0.5rem }
	&.spaced-out { column-gap: 1rem }
	&.very-spaced-out { column-gap: 2rem }

	&.gapped { row-gap: 1rem }

	label {
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;

		&.left-aligned { justify-content: flex-start }
	}// label;

	*.full-width { grid-column: 1/-1 }

	*.all-columns { grid-column: 1/-1 }
	*.second-column { grid-column: 2/2 }

	*.three-column-span { grid-column: span 3 }
	*.four-column-span { grid-column: span 4 }

}// div[class*="column-grid"];


div.nested {
	width: 100%;
	justify-content: space-between;

	div.nested label {
		justify-self: right
	}
}


/**** Line Styles ****/


div[class*="divider"] {
	background-color: var(--border-color);
}// div[class*="-divider"];


div[class*="vertical-divider"] {
	height: 100%; 
	margin-left: 1rem; 
	margin-right: 1rem;
	width: 2px;
}// div[class*="vertical-divider"];


div.thin-vertical-divider { width: 1px }


div.fat-vertical-divider { width: 3px }


div[class*="horizontal-divider"] {
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

div.thin-horizontal-divider {
	height: 1px; 
}


/**** Eyecandy Styles ****/


img.eyecandy {
	height: 1.2rem;
	width: auto;
	margin-right: 0.3rem;

	.small { height: 0.8rem }

	.medium { height: 1.2rem }
}


/**** Text Styles ****/


div.title {
	font-weight: bold;
	font-size: 11pt;
	margin-bottom: 1rem;
}


div.warning {
	font-weight: bold;
	font-size: 9pt;
	margin-bottom: 1rem;
}


div.row-divider {
	height: 0;
	margin: 1rem 0;
	border: none;
	border-top: solid 1px var(--border-color);
}


div.warning { color: #A00 }


/**** Button Styles ****/


div.button-bar { @extend .right-aligned, .full-width, .slightly-spaced-out, .row-block, .with-some-headspace }


div.glyph-arrow {
	width: 0;
	height: 0;
	border: solid 0.5rem transparent;
	border-bottom-width: 0;
	border-top-color: var(--dropdown-arrow-color);
	cursor: pointer;
}

div.glyph-arrow.sort-arrow { border-top-color: var(--sort-arrow-color) }


div.link {
	cursor: pointer;
	color: #048;
}// div.link;


/**** List Styles ****/


div.checkbox-list { margin-left: 1rem }


div.checkbox-list label { justify-content: flex-start }


ul.bullet-list {

	list-style: disc;

    display: flex;
    flex-direction: column;
    gap: 0.25rem;

	li { 
		margin-left: 2rem;
		line-height: 95%;
	}// li;

}// ul.bullet-list;


/**** Form Styles ****/


div.form-table {
	display: inline-grid;
	grid-template-columns: min-content 1fr;
	row-gap: 0.5em;

	label {
		align-items: center;
		justify-content: flex-end;
	}
}


div.miniform {
	display: inline-grid;
	grid-template-columns: repeat(2, min-content);
	column-gap: 0.25rem
}


form div.compact {
	input, select { width: 8.5rem }
}


div.scroll-block {
	border-right: var(--table-border);
}// div.scroll-block;